{% extends "navbar.html" %} {% block title %} Cervical Cancer {% endblock %} {%
block body %}
<section
  class="bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
  class="text-gray-400 dark:bg-gray-900 body-font relative">
  {% if 'user' in session and 'cc' in session['user']['access'] %}
  <div class="container px-5 py-16 mx-auto">
    <div class="bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 py-8">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 dark:text-white">
          Cervical Cancer
        </h1>
        <div id="drawer-navigation"
          class="fixed top-0 left-0 z-40 w-96 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white dark:bg-gray-800"
          tabindex="-1" aria-labelledby="drawer-navigation-label">
          <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
            Previous Diagnoses</h5>
          <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close menu</span>
          </button>
          <div class="py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
              {% for dx in pd %}
              <li>
                <a href="/cervical-cancer/{{ dx['_id'] }}"
                  class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 8v4l3 3M3.22302 14C4.13247 18.008 7.71683 21 12 21c4.9706 0 9-4.0294 9-9 0-4.97056-4.0294-9-9-9-3.72916 0-6.92858 2.26806-8.29409 5.5M7 9H3V5" />
                  </svg>

                  <span class="ms-3">ID: {{ dx["_id"] }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <p class="lg:w-2/3 text-gray-700 dark:text-gray-200 mx-auto leading-relaxed text-base">
          Enter the details to receive a personalized cervical cancer risk
          assessment powered by advanced AI.
        </p>
        <div class="text-center">
          <button
            class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-pink-600 dark:hover:bg-pink-700 focus:outline-none dark:focus:ring-pink-800 mt-3"
            type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
            aria-controls="drawer-navigation">
            Previous Diagnoses
          </button>
        </div>
      </div>
      <form id="myForm" method="post"
        action="{% if diagnosis %} /cervical-cancer/{{ diagnosis['_id'] }} {% else %} /cervical-cancer {% endif %}"
        class="lg:w-2/3 md:w-4/5 mx-auto">
        <div class="flex flex-wrap -m-2">
          {% for feature in features[0] %}
          <div class="p-2 w-1/2 lg:w-1/3">
            <div class="relative">
              <label for="{{ feature }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{
                feature }}</label>
              <input value="{% if diagnosis %}{{diagnosis[feature]}}{% endif %}" type="text" name="{{ feature }}"
                id="{{ feature }}"
                class="block p-2 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-pink-500 focus:border-pink-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500 dark:shadow-sm-light"
                required>
            </div>
          </div>
          {% endfor %}
          <p class="leading-7 text-base font-semibold w-full p-2 block mb-2 text-gray-900 dark:text-gray-300">
            Sexually Transmitted Diseases
          </p>
          {% for std in features[1] %}
          <div class="p-2 flex w-1/2 sm:w-1/3 xl:w-1/4 items-center mb-4">
            <input {% if diagnosis %} {% if diagnosis[std]=="1" %} checked {% endif %} {% endif %} id="{{ std }}"
              name="{{ std }}" type="checkbox" value="1"
              class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
            <label for="{{ std }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{% if std|length <=
                4 %} {{ std|upper }} {% else %} {{ std|capitalize }} {% endif %}</label>
          </div>
          {% endfor %}
          <p class="leading-7 text-base font-semibold w-full p-2 block mb-2 text-gray-900 dark:text-gray-300">
            Diagnoses
          </p>
          {% for dx in features[2] %}
          <div class="p-2 flex w-1/2 sm:w-1/3 xl:w-1/4 items-center mb-4">
            <input {% if diagnosis %} {% if diagnosis[dx]=="1" %} checked {% endif %} {% endif %} id="{{ dx }}"
              name="{{ dx }}" type="checkbox" value="1"
              class="w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 dark:focus:ring-pink-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
            <label for="{{ dx }}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{% if dx|length <= 4
                %} {{ dx|upper }} {% else %} {{ dx|capitalize }} {% endif %}</label>
          </div>
          {% endfor %}
          <div class="p-2 w-full">
            <button type="submit"
              class="text-white block bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4 m-auto"
              style="margin: auto !important;">
              Submit
            </button>
            {% if cc_result != "" %}
            <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded-sm md:my-6 dark:bg-gray-700">{% endif %}
          </div>
          {% if cc_result != "" %}
          <div id="alert-1" class="mx-auto mb-2 text-center py-4 lg:px-4">
            <div
              class="py-2 px-4 bg-pink-800 items-center text-pink-100 leading-none rounded-full justify-around flex lg:inline-flex"
              role="alert">
              <span class="flex rounded-full bg-pink-500 uppercase px-2 py-1 text-xs font-semibold mr-3">Result</span>
              <span class="font-semibold mr-2 text-left flex-auto">The percentage of being affected by Cervical Cancer
                is {{
                cc_result
                }}.</span>
              <button type="button"
                class="ms-auto -mx-1.5 -my-1.5 text-pink-400 rounded-lg focus:ring-2 focus:ring-pink-400 p-1.5 hover:bg-pink-200 inline-flex items-center justify-center h-8 w-8 dark:text-pink-400 dark:hover:bg-pink-700"
                data-dismiss-target="#alert-1" aria-label="Close">
                <span class="sr-only">Close</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                </svg>
              </button>
            </div>
          </div>
          <div
            class="w-full bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
            <ul
              class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
              id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
              <li class="me-2">
                <button id="about-tab" data-tabs-target="#about" type="button" role="tab" aria-controls="about"
                  aria-selected="true"
                  class="inline-block p-4 text-pink-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-pink-500">Consultation</button>
              </li>
              <li class="me-2">
                <button id="services-tab" data-tabs-target="#services" type="button" role="tab" aria-controls="services"
                  aria-selected="false"
                  class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Suggestions</button>
              </li>
            </ul>
            <div id="defaultTabContent">
              <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="about" role="tabpanel"
                aria-labelledby="about-tab">
                <h2 class="mb-3 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">Medical Guidance
                </h2>
                <p class="mb-3 text-gray-500 dark:text-gray-400">{{ data["medical_guidance"] }}</p>
                <a href="#"
                  class="inline-flex items-center font-medium text-pink-600 hover:text-pink-800 dark:text-pink-500 dark:hover:text-pink-700">
                  Learn more
                  <svg class=" w-2.5 h-2.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 6 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 9 4-4-4-4" />
                  </svg>
                </a>
              </div>
              <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel"
                aria-labelledby="services-tab">
                <h2 class="mb-5 text-2xl font-extrabold tracking-tight text-gray-900 dark:text-white">Health &
                  Prevention Tips</h2>
                <!-- List -->
                <ul role="list" class="space-y-4 text-gray-500 dark:text-gray-400">
                  {% for point in data["health_prevention_tips"] %}
                  <li class="flex space-x-2 rtl:space-x-reverse items-center">
                    <svg class="shrink-0 w-3.5 h-3.5 text-pink-600 dark:text-pink-500" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path
                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    <span class="leading-tight">{{ point }}</span>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="p-2 w-full pt-8 mt-8 border-t border-gray-300 dark:border-gray-700 text-center">
            <a class="text-pink-400">femcare1001@gmail.com</a>
            <p class="leading-normal my-5 dark:text-gray-200">
              Cervical Cancer <br />FemCare - Insightful Wellness
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div
    class="bg-white dark:bg-gray-900 h-full bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-24 lg:px-6">
      <div
        class="bg-white rounded-lg shadow dark:border dark:bg-gray-800 dark:border-gray-700 p-4 mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-pink-600 dark:text-pink-500">
          404
        </h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">
          Something's missing.
        </p>
        <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
          Sorry, we can't let you use this product. You'll have to buy our
          subscription
          <span class="underline"><a target="_blank"
              href="https://thekidcompany.in/store/2f26853/">@thekidcompany</a></span> and then
          sign in <span class="underline"><a href="/signin">here</a></span>.
        </p>
        <a href="/signin"
          class="inline-flex text-white bg-pink-600 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-pink-900 my-4">Sign
          In</a>
      </div>
    </div>
  </div>
  {% endif %}
</section>

<script>
  document
    .getElementById("myForm")
    .addEventListener("submit", function (event) {
      var form = event.target;
      var checkboxes = form.querySelectorAll('input[type="checkbox"]');

      checkboxes.forEach(function (checkbox) {
        if (!checkbox.checked) {
          var hiddenInput = document.createElement("input");
          hiddenInput.type = "hidden";
          hiddenInput.name = checkbox.name;
          hiddenInput.value = "0";
          form.appendChild(hiddenInput);
        }
      });
    });
</script>
{% endblock %}